[submodule "libs/libs/libft"]
	path = libs/libs/libft
	url = https://github.com/Alienxbe/libft
[submodule "libs/libft"]
	path = libs/libft
	url = https://github.com/Alienxbe/libft
[submodule "libs/SnowFlakeEngine"]
	path = libs/SnowFlakeEngine
	url = https://github.com/Alienxbe/SnowFlakeEngine.git
